@model IEnumerable<WebStore_Contrast.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<div class="page-container">
    <div class="main">
        <div class="container-fluid">
            <div class="min_content_fix">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="wrap_heading">
                            <div class="box_heading heading_page">Категорії</div>
                            <div class="box_btn_heading">
                                <a class="btn btn_small btn-info" href="~/admin/shop/AddCategory">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="20px" height="20px"><path d="m23,10h-8.5c-0.3,0-0.5-0.2-0.5-0.5v-8.5c0-0.6-0.4-1-1-1h-2c-0.6,0-1,0.4-1,1v8.5c0,0.3-0.2,0.5-0.5,0.5h-8.5c-0.6,0-1,0.4-1,1v2c0,0.6 0.4,1 1,1h8.5c0.3,0 0.5,0.2 0.5,0.5v8.5c0,0.6 0.4,1 1,1h2c0.6,0 1-0.4 1-1v-8.5c0-0.3 0.2-0.5 0.5-0.5h8.5c0.6,0 1-0.4 1-1v-2c0-0.6-0.4-1-1-1z" fill="currentColor"></path></svg>
                                    <span>Додати категорію</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxed fn_toggle_wrap">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <form method="post" class="fn_form_list fn_fast_button">
                                <div class="contrast_list products_list fn_sort_list" style="min-height: 540px;">
                                    <div class="fn_step_sorting contrast_list_head">
                                        <div class="contrast_list_boding contrast_list_drag"></div>
                                        <div class="contrast_list_heading contrast_list_check">
                                            <input class="hidden_check fn_check_all" type="checkbox" id="check_all_1" name="" value="">
                                            <label class="contrast_checkbox" for="check_all_1"></label>
                                        </div>
                                        <div class="contrast_list_heading contrast_list_name">
                                            <a href="#">
                                                Назва
                                            </a>
                                        </div>
                                        <div class="contrast_list_heading contrast_list_setting contrast_list_products_setting" style = "position: relative; left: 50px;">
                                            <a href="#" class="settings_a">Дії</a>
                                        </div>
                                        <div class="contrast_list_heading contrast_list_close"></div>
                                    </div>
                                    <div class="contrast_list_body sort_extended ui-sortable">
                                        @if (!Model.Any())
                                        {
                                            <h1 class="text-center"> There are no categories. </h1>
                                        }
                                        else
                                        {
                                            foreach (var item in Model)
                                            {
                                                <div class="fn_step-1 fn_row contrast_list_body_item fn_sort_item">
                                                    <div class="contrast_list_row">
                                                        <input type="hidden" name="positions[@item.Id]" value="@item.Id">
                                                        <div class="contrast_list_boding contrast_list_drag move_zone ui-sortable-handle">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="20px" height="20px"><polygon points="18,20 18,26 22,26 16,32 10,26 14,26 14,20    " fill="currentColor"></polygon><polygon points="14,12 14,6 10,6 16,0 22,6 18,6 18,12    " fill="currentColor"></polygon></svg>
                                                        </div>
                                                        <div class="contrast_list_boding contrast_list_check">
                                                            <input class="hidden_check" type="checkbox" id="@item.Id" name="check[]" value="@item.Id">
                                                            <label class="contrast_checkbox" for="@item.Id"></label>
                                                        </div>
                                                        <div class="contrast_list_boding contrast_list_categories_name">
                                                            <a href="/admin/shop/EditCategory/@item.Id">
                                                                @item.Name
                                                            </a>
                                                        </div>
                                                        <div class="contrast_list_boding contrast_list_close btn_close fn_remove hint-bottom-right-t-info-s-small-mobile hint-anim" style = "position: relative; left: 300px;">
                                                            <a href="@Url.Action("DeleteCategory", "Shop", new { id = item.Id })" class="delete">
                                                                <svg width="20px" height="20px" viewBox="0 0 512 512"><polygon points="353.574,176.526 313.496,175.056 304.807,412.34 344.885,413.804" fill="currentColor"></polygon><rect x="235.948" y="175.791" width="40.104" height="237.285" fill="currentColor"></rect><polygon points="207.186,412.334 198.497,175.049 158.419,176.52 167.109,413.804" fill="currentColor"></polygon><path d="M17.379,76.867v40.104h41.789L92.32,493.706C93.229,504.059,101.899,512,112.292,512h286.74c10.394,0,19.07-7.947,19.972-18.301l33.153-376.728h42.464V76.867H17.379z M380.665,471.896H130.654L99.426,116.971h312.474L380.665,471.896z" fill="currentColor"></path><path d="M321.504,0H190.496c-18.428,0-33.42,14.992-33.42,33.42v63.499h40.104V40.104h117.64v56.815h40.104V33.42C354.924,14.992,339.932,0,321.504,0z" fill="currentColor"></path></svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm txt_center"></div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <div class="col-md-12 font_12 text_white">
                    <a href="/admin/dashboard/">CONTRAST</a>
                    © 2020 v.1.0.0 | Ви ввійшли як Admin
                </div>
            </footer>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Content/ShopJS/CategoriesViewJS.js"></script>
}