@model IEnumerable<WebStore_Contrast.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
ViewBag.Title = "Orders";
}

@if (!Model.Any())
{
    <h2 class="text-center">There are no orders.</h2>
}
else
{
    <section class="page-container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form class="fn_form_list" method="post">
                <div class="orders_list contrast_list products_list" style = "margin-top: 20px;">
                    <div class="contrast_list_head" style="border-left: 5px solid transparent">
                        <div class="contrast_list_heading contrast_list_check">
                            <input class="hidden_check fn_check_all" type="checkbox" id="check_all_1" name="" value="">
                            <label class="contrast_ckeckbox" for="check_all_1"></label>
                        </div>
                        <div class="contrast_list_heading contrast_list_order_number" style = "position: relative; right: 20px;">Order Number</div>
                        <div class="contrast_list_heading contrast_list_orders_name">Username</div>
                        <div class="contrast_list_heading contrast_list_order_status" style = "position: relative; left: 75px;">Order Details</div>
                        <div class="contrast_list_heading contrast_list_order_product_count" style = "position: relative; left: 150px;">Created At</div>
                        <div class="contrast_list_heading contrast_list_orders_price" style = "position: relative; left: 190px;">Total</div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="contrast_list_body">
                            <div class="fn_step-1 fn_row contrast_list_body_item " style="border-left: 5px solid ;">
                                <div class="contrast_list_row">
                                    <div class="contrast_list_boding contrast_list_check">
                                        <input class="hidden_check" type="checkbox" id="id_4" name="check[]" value="4">
                                        <label class="contrast_ckeckbox" for="id_4"></label>
                                    </div>
                                    <div class="contrast_list_boding contrast_list_order_number" style = "position: relative; right: 25px;">
                                        @Html.DisplayFor(modelItem => item.OrderNumber)
                                    </div>
                                    <div class="contrast_list_boding contrast_list_orders_name">
                                        @Html.DisplayFor(modelItem => item.UserName)
                                        <div class="font_12 text_500 text_grey mb-q">
                                            <span class="hidden-md-down">Замовлено</span>
                                            <span class="font_12 text_500 text_grey mb-q">@Html.DisplayFor(modelItem => item.CreatedAt)</span>
                                        </div>
                                    </div>
                                    <div class="contrast_list_boding contrast_list_order_status" style = "position: relative; left: 80px;">
                                        @foreach (var item2 in item.ProductsAndQty)
                                        {
                                            @item2.Key @:x @item2.Value <br />
                                        }
                                    </div>
                                    <div class="contrast_list_boding contrast_list_order_product_count" style = "position: relative; left: 150px;">
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </div>
                                    <div class="contrast_list_boding contrast_list_orders_price" style = "position: relative; left: 200px;">
                                        <div class="input-group">
                                            <span class="form-control">
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </span>
                                            <span class="input-group-addon">
                                                $
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
    </section>
}